

.App {
  font-family: sans-serif;
  text-align: center;
  background-image: url(https://bit.ly/webApp_Assets_background);
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  width: 100%;
}
.App img{
  height: 40%;
  width:40%;
}
.App hr{
  width: 60%;
  margin-top: 10%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* upperFloor */
#upperFloor{
  display: inline-flex;
}


#leftBtn,#rightBtn{
  margin-top: 15%;

}
/* rest days */
#restDays{
  height: 10%;
  width: 10%;
  display: inline-block;
  
}

#restDays img{
  height:29px ;
  width:29px; 
}
